<!-- templates/new-item.html -->
{% extends 'base.html' %}

{% block content %}
<form method="post" action="/items/add-new">
    <div class="form-group">
        <label for="productTitle">Enter the title of your product</label>
        <input type="text" placeholder="Title" name="title" id="productTitle">
    </div>
    <div class="form-group">
        <label for="productPrice">Enter your product's price</label>
        <input type="text" placeholder="Price" name="price" id="productPrice">
    </div>
    <div class="form-group">
        <label for="productPic">Enter a link to a picture of your product</label>
        <input type="text" class="form-control-file" name="picture" id="productPic">
    </div>
    <div class="form-group">
        <label for="productDescription">Enter a product description</label>
        <textarea class="form-control" name="description" placeholder="Description" id="productDescription" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit new product</button>
</form>
{% endblock %}